
body{
  font-family: "Pontano Sans";
  font-size: 18px;
}

header{
  display: grid;
  position: fixed;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  background-color: rgb(200,200,200, 0.9);
}

#logo-container{
  grid-column: 1/2;
  width: 25rem;
  box-shadow: 0 0 30px 3px #666;
  border-radius: 15px;
  margin: 0.5rem;
  margin-right: 0;
}

.name{
  font-family: "Bevan";
  color: #EEE;
}

#heading{
  font-size: 2.8rem;
  padding-top: 0.3rem;
  padding-left: 0.6rem;
  background-color: rgba(28, 66, 24, 1);
  border-radius: 10px 10px 0 0;
}

#row-2{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}

#stars{
  display: flex;
  justify-content: space-between;
  margin-left: 0.45rem;
}

.star{
  font-size: 2.5rem;
  color: gold;
  width: 2.8rem;
}

#subheading{
  font-size: 2rem;
  color: rgba(28, 66, 24, 1);
}

#row-3{
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  background-color: rgba(28, 66, 24, 1);
  border-radius: 0 0 10px 10px;
}

#row-3 p{
  font-size: 1.8rem;
  color: #EEE;
  padding-top: 0.3rem;
}

#row-3 .partition{
  color: gold;
}

#nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

#nav-list li{
  font-size: 1.53rem;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
  transition: text-shadow 0.5s ease-out,
              color 0.5s ease-out,
              width 0.5s ease-out,
              transform 0.5s ease-out,
              font-weight 0.5s ease-out;
}

#nav-list li:hover{
    text-shadow: 0 0 3px;
    color: rgba(28, 66, 24, 1);
    transform: scale(1.2);
    font-weight: 900;
}


nav{
  grid-column: 2/5;
  margin-top: 0.5rem;
}

main{
  height: 2000px;
}

img{
  width: 100%;
}
